@model List<QuizzApp.Entities.Entities.QuestionWithAnswers>
@{
    ViewBag.Title = "Question";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>
    body {
        background-color: #4679BD;
        color: white;
    }

    .layout {
        padding: 30px;
        margin-top: 150px;
    }

    .question-box {
        background-color: #EE693F;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 20px;
        text-align: center;
    }

    .answer-box {
        background-color: #EE693F;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 20px;
        margin-top: 20px;
    }

    .choosen-answer {
        background-color: cornflowerblue !important;
    }

    .answer {
        color: white;
        margin-right: 4px;
    }

    a:focus {
        color: white;
        outline: none;
        text-decoration: none;
    }

    .result-container {
        border: 1px solid #fff;
        padding: 50px 60px;
        margin-top: 20vh;
    }

    .question-circle-div {
        margin-bottom: 60px;
        margin-right: 10px;
    }

    .question-circle-true {
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 20px;
        background-color: #39e600;
    }

    .question-circle-false {
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 20px;
        background-color: #ff3300;
    }
</style>

<div class="container">
    @for (int i = 0; i < Model.Count; i++)
    {
        if (i == 0)
        {
            <div class="row" id="mainRow@(i)">
                <div class="col-md-8 col-md-offset-2 layout">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 question-box">
                            <h4 id="questionName">@Convert.ToInt32(i + 1))- @Model[i].QuestionName</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-1 answer-box" id="answerId@(Model[i].AnswerIds[0])" data-is-choosen="false" data-answer-type="@Model[i].AnswerType[0]">
                            <a href="#" class="answer" onclick="chooseAnswer(@Model[i].AnswerIds[0]);">A) - </a>
                            <h5 style="display:inline-block" id="answerNameA">@Model[i].AnswerNames[0]</h5>
                        </div>
                        <div class="col-md-4 col-md-offset-1 answer-box" id="answerId@(Model[i].AnswerIds[1])" data-is-choosen="false" data-answer-type="@Model[i].AnswerType[1]">
                            <a href="#" class="answer" onclick="chooseAnswer(@Model[i].AnswerIds[1]);">B) - </a>
                            <h5 style="display:inline-block" id="answerNameB">@Model[i].AnswerNames[1]</h5>
                        </div>
                        <div class="col-md-4 col-md-offset-1 answer-box" id="answerId@(Model[i].AnswerIds[2])" data-is-choosen="false" data-answer-type="@Model[i].AnswerType[2]">
                            <a href="#" class="answer" onclick="chooseAnswer(@Model[i].AnswerIds[2]);">C) - </a>
                            <h5 style="display:inline-block" id="answerNameC">@Model[i].AnswerNames[2]</h5>
                        </div>
                        <div class="col-md-4 col-md-offset-1 answer-box" id="answerId@(Model[i].AnswerIds[3])" data-is-choosen="false" data-answer-type="@Model[i].AnswerType[3]">
                            <a href="#" class="answer" onclick="chooseAnswer(@Model[i].AnswerIds[3]);">D) - </a>
                            <h5 style="display:inline-block" id="answerNameD">@Model[i].AnswerNames[3]</h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-2 col-md-offset-8">
                            <button type="button" onclick="isAnyAnswerSelected('@(i)');" style="float:right;min-width:100px;" class="btn btn-warning">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row" id="mainRow@(i)" hidden>
                <div class="col-md-8 col-md-offset-2 layout">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 question-box">
                            <h4 id="questionName">@Convert.ToInt32(i + 1))- @Model[i].QuestionName</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-1 answer-box" id="answerId@(Model[i].AnswerIds[0])" data-is-choosen="false" data-answer-type="@Model[i].AnswerType[0]">
                            <a href="#" class="answer" onclick="chooseAnswer(@Model[i].AnswerIds[0]);">A) - </a>
                            <h5 style="display:inline-block" id="answerNameA">@Model[i].AnswerNames[0]</h5>
                        </div>
                        <div class="col-md-4 col-md-offset-1 answer-box" id="answerId@(Model[i].AnswerIds[1])" data-is-choosen="false" data-answer-type="@Model[i].AnswerType[1]">
                            <a href="#" class="answer" onclick="chooseAnswer(@Model[i].AnswerIds[1]);">B) - </a>
                            <h5 style="display:inline-block" id="answerNameB">@Model[i].AnswerNames[1]</h5>
                        </div>
                        <div class="col-md-4 col-md-offset-1 answer-box" id="answerId@(Model[i].AnswerIds[2])" data-is-choosen="false" data-answer-type="@Model[i].AnswerType[2]">
                            <a href="#" class="answer" onclick="chooseAnswer(@Model[i].AnswerIds[2]);">C) - </a>
                            <h5 style="display:inline-block" id="answerNameC">@Model[i].AnswerNames[2]</h5>
                        </div>
                        <div class="col-md-4 col-md-offset-1 answer-box" id="answerId@(Model[i].AnswerIds[3])" data-is-choosen="false" data-answer-type="@Model[i].AnswerType[3]">
                            <a href="#" class="answer" onclick="chooseAnswer(@Model[i].AnswerIds[3]);">D) - </a>
                            <h5 style="display:inline-block" id="answerNameD">@Model[i].AnswerNames[3]</h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top:20px;">
                        <div class="col-md-2 col-md-offset-8">
                            <button type="button" onclick="isAnyAnswerSelected('@(i)');" style="float:right;min-width:100px;" class="btn btn-warning">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="container-fluid result-container" id="resultOfTest" hidden>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row" id="resultRow">
            <!-- Result Blocks will come here..-->
        </div>
    </div>
</div>

<script>    
    let totalQuestionNumber = @Model.Count ;
    let questionCounter = 0;
    let oldChoosenAnswerId;
    choosenAnswerList = [];
    let questionCircleNumber = 1;
    function chooseAnswer(answerId) {
        //firstly remove choosen-answer class from old choosen answer
        if (oldChoosenAnswerId != null && parseInt(oldChoosenAnswerId.substring(8)) == answerId) {
            var unSelectedElement = document.getElementById(oldChoosenAnswerId);
            unSelectedElement.classList.remove("choosen-answer");
            unSelectedElement.dataset.isChoosen = "false";
            oldChoosenAnswerId = null;
            return;
        }
        var oldAnswer = document.getElementById(oldChoosenAnswerId);
        oldAnswer == null ? oldAnswer : oldAnswer.classList.remove("choosen-answer");
        oldAnswer == null ? oldAnswer : oldAnswer.dataset.isChoosen = "false";

        let choosenAnswer = document.getElementById("answerId" + answerId);
        let isChoosen = choosenAnswer.dataset.isChoosen;
        if (isChoosen == "false") {
            choosenAnswer.classList.add("choosen-answer");
            choosenAnswer.dataset.isChoosen = "true";
            oldChoosenAnswerId = "answerId" + answerId;
        }
        else {
            choosenAnswer.classList.remove("choosen-answer");
            choosenAnswer.dataset.isChoosen = "false";
            oldChoosenAnswerId = null;
        }
    }

    function isAnyAnswerSelected(idOrder) {
        if (document.getElementsByClassName("choosen-answer")[0] == null) {
            return swal({
                title: 'Oops...',
                text: 'Please select an answer..',
                icon: 'error',
                button: 'Ok',
            });
        }
        else {
            return nextQuestion(idOrder);
        }
    }

    function nextQuestion(idOrder) {
        changeRows(idOrder);
        addAnswerToList();

        let choosenAnswerElement = document.querySelectorAll('[data-is-choosen="true"]');
        choosenAnswerElement[0].dataset.isChoosen = "false";
        choosenAnswerElement[0].classList.remove("choosen-answer");

        questionCounter += 1;
        if (questionCounter == totalQuestionNumber) {
            createResultHtmlBlock();
            return document.getElementById("resultOfTest").removeAttribute("hidden");
        }
    }

    function changeRows(idOrder) {
        let oldMainRow = document.getElementById("mainRow" + idOrder);
        oldMainRow.setAttribute("hidden", "true");
        let newMainRow = document.getElementById("mainRow" + (parseInt(idOrder) + 1));
        newMainRow == null ? newMainRow : newMainRow.removeAttribute("hidden");
    }

    function addAnswerToList() {
        let choosenAnswerElement = document.querySelectorAll('[data-is-choosen="true"]');
        let choosenAnswerId = choosenAnswerElement[0].id.substring(8);
        let choosenAnswerType = choosenAnswerElement[0].dataset.answerType;
        choosenAnswerList.push({ "choosenAnswerId": choosenAnswerId, "choosenAnswerType": choosenAnswerType });
    }

    function createResultHtmlBlock() {
        for (var i = 0; i < choosenAnswerList.length; i++) {
            createTrueOrFalseResultBlock(choosenAnswerList[i].choosenAnswerId, choosenAnswerList[i].choosenAnswerType);
        }
    }

    function createTrueOrFalseResultBlock(answerId, questionType) {
        let questionDiv = document.createElement("div");
        questionDiv.classList.add("col-md-1", "col-sm-1", "col-xs-3", "question-circle-div");
        questionDiv.id = "result" + answerId;

        let questionLink = document.createElement("a");
        questionLink.href = '@Url.Action("GetQuestionById","Question")?choosenAnswerId='+answerId;
        questionType == "True" ? questionLink.classList.add("question-circle-true") : questionLink.classList.add("question-circle-false");
        questionLink.innerText = questionCircleNumber;

        questionDiv.appendChild(questionLink);
        document.getElementById("resultRow").appendChild(questionDiv);
        questionCircleNumber += 1;
    }
</script>