@model List<QuizzApp.Entities.Entities.QuestionWithAnswers>
@{
    ViewBag.Title = "Question";
}

<style>
    body {
        background-color: #4679BD;
        color:white;
    }
    .layout {
        padding: 30px;        
        margin-top:150px;
    }
    .question-box {
        background-color: #EE693F;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 20px;
        text-align: center;
    }

    .answer-box {
        background-color: #EE693F;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 20px;
        margin-top: 20px;
    }

    .choosen-answer {
        background-color: cornflowerblue !important;
    }
    .answer {
        color: white;
        margin-right: 4px;
    }
    a:focus{
        color: white;
        outline: none;
        text-decoration: none;
    }
</style>

<div class="container">
    @for (int i = 0; i < Model.Count; i++)
    {
        if (i == 0)
        {
            <div class="row" id="mainRow">
                <div class="col-md-8 col-md-offset-2 layout">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 question-box">
                            <h4 id="questionName">@Model[i].QuestionName</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-1 answer-box" id="answerId@(Model[i].AnswerIds[0])" data-is-choosen="false">
                            <a href="#" class="answer" onclick="chooseAnswer(@Model[i].AnswerIds[0]);">A) - </a>
                            <h5 style="display:inline-block" id="answerNameA">@Model[i].AnswerNames[0]</h5>
                        </div>
                        <div class="col-md-4 col-md-offset-1 answer-box" id="answerId@(Model[i].AnswerIds[1])" data-is-choosen="false">
                            <a href="#" class="answer" onclick="chooseAnswer(@Model[i].AnswerIds[1]);">B) - </a>
                            <h5 style="display:inline-block" id="answerNameB">@Model[i].AnswerNames[1]</h5>
                        </div>
                        <div class="col-md-4 col-md-offset-1 answer-box" id="answerId@(Model[i].AnswerIds[2])" data-is-choosen="false">
                            <a href="#" class="answer" onclick="chooseAnswer(@Model[i].AnswerIds[2]);">C) - </a>
                            <h5 style="display:inline-block" id="answerNameC">@Model[i].AnswerNames[2]</h5>
                        </div>
                        <div class="col-md-4 col-md-offset-1 answer-box" id="answerId@(Model[i].AnswerIds[3])" data-is-choosen="false">
                            <a href="#" class="answer" onclick="chooseAnswer(@Model[i].AnswerIds[3]);">D) - </a>
                            <h5 style="display:inline-block" id="answerNameD">@Model[i].AnswerNames[3]</h5>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row" id="mainRow" hidden>
                <div class="col-md-8 col-md-offset-2 layout">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 question-box">
                            <h4 id="questionName">@Model[i].QuestionName</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-1 answer-box" id="answerId@(Model[i].AnswerIds[0])" data-is-choosen="false">
                            <a href="#" class="answer" onclick="chooseAnswer(@Model[i].AnswerIds[0]);">A) - </a>
                            <h5 style="display:inline-block" id="answerNameA">@Model[i].AnswerNames[0]</h5>
                        </div>
                        <div class="col-md-4 col-md-offset-1 answer-box" id="answer1" data-is-choosen="false">
                            <a href="#" class="answer" onclick="chooseAnswer(@Model[i].AnswerIds[1]);">B) - </a>
                            <h5 style="display:inline-block" id="answerNameB">@Model[i].AnswerNames[1]</h5>
                        </div>
                        <div class="col-md-4 col-md-offset-1 answer-box" id="answer2" data-is-choosen="false">
                            <a href="#" class="answer" onclick="chooseAnswer(@Model[i].AnswerIds[2]);">C) - </a>
                            <h5 style="display:inline-block" id="answerNameC">@Model[i].AnswerNames[2]</h5>
                        </div>
                        <div class="col-md-4 col-md-offset-1 answer-box" id="answer3" data-is-choosen="false">
                            <a href="#" class="answer" onclick="chooseAnswer(@Model[i].AnswerIds[3]);">D) - </a>
                            <h5 style="display:inline-block" id="answerNameD">@Model[i].AnswerNames[3]</h5>
                        </div>
                    </div>
                </div>
            </div>

        }

    }
</div>

<script>
    let oldChoosenAnswerId;
    function chooseAnswer(answerId) {
        //firstly remove choosen-answer class from old choosen answer
        if (oldChoosenAnswerId!= null && parseInt(oldChoosenAnswerId.substring(8)) == answerId) {
            var unSelectedElement = document.getElementById(oldChoosenAnswerId);
            unSelectedElement.classList.remove("choosen-answer");
            unSelectedElement.dataset.isChoosen = "false";
            oldChoosenAnswerId = null;
            return;
        }
        var oldAnswer = document.getElementById(oldChoosenAnswerId);
        oldAnswer == null ? oldAnswer : oldAnswer.classList.remove("choosen-answer");
        oldAnswer == null ? oldAnswer : oldAnswer.dataset.isChoosen = "false";
      
        let choosenAnswer = document.getElementById("answerId" + answerId);
        let isChoosen = choosenAnswer.dataset.isChoosen;
        if (isChoosen == "false") {            
            choosenAnswer.classList.add("choosen-answer");
            choosenAnswer.dataset.isChoosen = "true";
            oldChoosenAnswerId = "answerId" + answerId;
        }
        else {            
            choosenAnswer.classList.remove("choosen-answer");
            choosenAnswer.dataset.isChoosen = "false";
            oldChoosenAnswerId = null;
        }        
    }
</script>